In [38]:
import pandas as pd

In [39]:
real_year = pd.read_csv('./real-year.csv')

In [40]:
real_year = real_year.dropna(how='any')

In [41]:
real_year = real_year.reset_index(drop=True)

In [42]:
real_year

            date       country  price
0     1967-03-31  South Africa  12.40
1     1967-06-30  South Africa  13.42
2     1967-09-30  South Africa  17.98
3     1967-12-31  South Africa  16.05
4     1968-03-31  South Africa   2.82
...          ...           ...    ...
4312  2017-09-30   Netherlands   7.14
4313  2017-09-30        Norway   0.96
4314  2017-09-30      Thailand  -0.22
4315  2017-09-30        Turkey   0.68
4316  2017-09-30  South Africa  -0.99

[4317 rows x 3 columns]

In [43]:
real_year.to_csv('./real-year_dropna.csv', index=False)

In [44]:
real_year

            date       country  price
0     1967-03-31  South Africa  12.40
1     1967-06-30  South Africa  13.42
2     1967-09-30  South Africa  17.98
3     1967-12-31  South Africa  16.05
4     1968-03-31  South Africa   2.82
...          ...           ...    ...
4312  2017-09-30   Netherlands   7.14
4313  2017-09-30        Norway   0.96
4314  2017-09-30      Thailand  -0.22
4315  2017-09-30        Turkey   0.68
4316  2017-09-30  South Africa  -0.99

[4317 rows x 3 columns]

             date       country  price
304    1967-03-31  South Africa  12.40
365    1967-06-30  South Africa  13.42
426    1967-09-30  South Africa  17.98
487    1967-12-31  South Africa  16.05
548    1968-03-31  South Africa   2.82
...           ...           ...    ...
12608  2017-09-30   Netherlands   7.14
12609  2017-09-30        Norway   0.96
12622  2017-09-30      Thailand  -0.22
12623  2017-09-30        Turkey   0.68
12626  2017-09-30  South Africa  -0.99

[4317 rows x 3 columns]